* {
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg/1_67g9_7kQfjQmFvOmRF2Giw.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}

.tarjeta {
  width: 70vw;
  height: 94%;
  background: rgb(28, 27, 27);
  opacity: 0.9;
  margin-top: 5vh;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px 3px #fff8;
}

.nav-bar {
  width: 70%;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 22px;
  background-color: black;
  opacity: 0.8;
  border-radius: 15px;
  box-shadow: 0 0 30px 3px #fff;
}

.tarjeta_avatar {
  width: 250px;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 0 0 30px 3px #fff8;
}

.tarjeta_titulo {
  margin-top: 10px;
  font-size: 35px;
  letter-spacing: 2px;
}

.presentacion {
  margin-right: 70px;
  margin-left: 70px;
  line-height: 1.6;
  text-align: justify;
}

.disponible {
  background-color: rgb(41, 121, 10);
  justify-content: center;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 260px;
  margin-bottom: 40px;
  font-size: 22px;
}

.disponible:hover {
  scale: 1.1;
}

.sobre-mi {
  font-size: 23px;
}
.contacto_redes-sociales {
  text-align: center;
}
.redes-sociales {
  width: 100%;
  gap: 15px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.redes-sociales a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 6px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;
  background-color: black;
  width: auto;
}

.redes-sociales a:hover {
  scale: 1.1;
}

.tecnologias {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  text-align-last: auto;
}

h2 {
  font-size: 55px;
  letter-spacing: 2px;
}

p {
  font-size: 30px;
  line-height: 1.5;
  font-size: 23px;
}
.iconos-tecnologias {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.iconos-tecnologias img {
  margin-right: 40px;
  margin-bottom: 20px;
}

.tecnologias p {
  margin-left: 50px;
  margin-right: 50px;
}

.tecnologias_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 25px;
}

.proyectos_lista {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.proyectos {
  letter-spacing: 10px;
}
.proyectos_lista a {
  text-decoration: none;
  color: rgb(77, 126, 204);
  font-size: 30px;
}

ul {
  padding: 0 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  margin: 5px 0;
}

.footer {
  display: flex;
  margin-top: 90px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 40px;
  background-color: black;
  border-radius: 8px;
  background-color: transparent;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .redes-sociales {
    width: auto;
  }

  .iconos-tecnologias img {
    width: auto;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .avatar {
    width: 200px;
  }

  .icono-red img {
    width: 40px;
    height: 40px;
  }

  .tecnologias {
    text-align: center;
  }
}
